RewriteEngine on
RewriteCond %{SERVER_PORT} ^80$
RewriteRule ^(.*)$ https://%{SERVER_NAME}/%{REQUEST_URI} [R=301,L]
RewriteRule ^admin/([a-zA-Z]+)/([a-zA-Z]+)/$ admin.php?c=$1&a=$2
RewriteRule ^admin/([a-zA-Z]+)/ admin.php?c=$1
RewriteRule ^admin/$ admin.php
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html
